/* ==========================================
   NovaCalc Christmas Event v2.1
========================================== */

.snowflake{

    position:fixed;

    top:-30px;

    border-radius:50%;

    background:white;

    pointer-events:none;

    z-index:-1;

    box-shadow:
        0 0 8px rgba(255,255,255,.9),
        0 0 18px rgba(255,255,255,.45);

    animation-name:snowFall;

    animation-timing-function:linear;

    animation-fill-mode:forwards;

}

@keyframes snowFall{

    0%{

        transform:
            translateY(-30px)
            translateX(0px)
            rotate(0deg);

        opacity:0;

    }

    10%{

        opacity:1;

    }

    25%{

        transform:
            translateY(25vh)
            translateX(-18px)
            rotate(90deg);

    }

    50%{

        transform:
            translateY(50vh)
            translateX(22px)
            rotate(180deg);

    }

    75%{

        transform:
            translateY(75vh)
            translateX(-16px)
            rotate(270deg);

    }

    100%{

        transform:
            translateY(110vh)
            translateX(15px)
            rotate(360deg);

        opacity:.2;

    }

}