.easter-particle{

    position:fixed;

    top:-50px;

    pointer-events:none;

    user-select:none;

    z-index:-1;

    animation:easterFall linear forwards;

}

@keyframes easterFall{

    from{

        transform:
        translateY(-40px)
        rotate(0deg);

        opacity:0;

    }

    10%{

        opacity:1;

    }

    to{

        transform:
        translateY(110vh)
        rotate(360deg);

        opacity:0;

    }

}